<% include ../partials/header %>
    <main>
        <div class="container">
            <h1><%= currentUser.username %>'s Profile page</h1>
            <li><strong>Age: <%= currentUser.age %></strong></li>
            <li><strong>City: <%= currentUser.city %> </strong></li>
            <li><strong>Contact: <%= currentUser.email %> </strong></li>
            
            <a class="btn btn-info" href="/profile/<%= currentUser.username %>/like">Liked Work</a>

            <h3>Your Work in Timeline</h3>
            <% photos.forEach(function(photo){ %>
                <h5><%= photo.name %></h5>
                <p><strong>Created at</strong><span class="ml-2"><%= moment(photo.postAt).format('LL, h:mm a') %></span></p>
                <a href="/photo/<%= photo._id %>"><img class="card-img-top" src="<%= photo.image %>"></a>
            <% }) %>

            
        </div>
    </main>
<% include ../partials/footer %>
