<% include ../partials/header %>
    <main>
        <div class="container">
            <h1><%= currentUser.username %>'s Profile page</h1>
            <li><strong>Age: <%= currentUser.age %></strong></li>
            <li><strong>City: <%= currentUser.city %> </strong></li>
            <li><strong>Contact: <%= currentUser.email %> </strong></li>
            
            <h3>Previous Work</h3>
            <% photos.forEach(function(photo){ %>
                <a href="/photo/<%= photo._id %>"><%= photo.name %></a>
                <img class="card-img-top" src="<%= photo.image %>">
            <% }) %>
        </div>
    </main>
<% include ../partials/footer %>