<% include ../partials/header %>
<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="card-columns">
                <% photos.forEach(function(photo){ %>
                    <div class="card text-white">
                        <a href="/photo/<%= photo._id %>"><img class="card-img-top image" src="<%= photo.image %>"></a> 
                        <% if(currentUser && photo.favorite.some((user)=>user.equals(currentUser._id))){ %>
                            <form class="likeform form-inline" action="/photo/<%= photo._id %>/unlike?_method=PUT" method="POST">    
                                <button class="likeButton" type="submit" id="removeLike"><i class="fas fa-heart mr-1"></i><%= photo.likes %></button>
                                <h4 class="card-text text-center"><%= photo.name %></h4>
                            </form>
                        <% }else{ %>
                            <form class="likeform form-inline" action="/photo/<%= photo._id %>/like" method="POST"> 
                                <button class="likeButton" type="submit" id="addLike"><i class="far fa-heart mr-1"></i><%= photo.likes %></button>
                                <h4 class="card-text text-center"><%= photo.name %></h4>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            </div>
       </div>
    </div>
</main>
<% include ../partials/footerScript %>
<% include ../partials/footer %>
