<% include ../partials/header %>
<main>
  <div class="container mt-4">
    <div class="container pl-2 pl-lg-0">
      <div class="search">
        <i class="fa fa-search"></i>
        <input class="inputBox" type="text" id="search-bar" placeholder="search for anything..." spellcheck="false"></input>
      </div>

      <div class="sortOption button" id="sortby buttons">
        <button class="sortOption button selected" id="popular" onclick="switchSort(this)">trending</button>
        <button class="sortOption button" id="newest" onclick="switchSort(this)">newest</button>
        <button class="sortOption button" id="oldest" onclick="switchSort(this)">oldest</button>
      </div>
    </div>

    <div class="row justify-content-center" id="newest gallery" style="display:none">
      <div class="card-columns animated animatedFadeInUp fadeInUp">
        <% Array.from(photos).sort(function(a, b) {return Date(a.postAt) - Date(b.postAt); }).reverse().forEach(function(photo){ %>
            <div class="card text-white" style="border-radius:5px">
                <a href="/photo/<%= photo._id %>"><img class="card-img-top" src="<%= photo.image %>" style="border-top-left-radius:5px; border-top-right-radius:5px"></a>
                <% if(currentUser && photo.favorite.some((user)=>user.equals(currentUser._id))){ %>
                    <form class="likeform form-inline" action="/photo/<%= photo._id %>/unlike?_method=PUT" method="POST">
                        <button class="likeButton" type="submit" id="removeLike"><i class="fas fa-heart mr-1"></i><%= photo.likes %></button>
                        <h4 class="card-text"><%= photo.name %></h4>
                    </form>
                <% }else{ %>
                    <form class="likeform form-inline" action="/photo/<%= photo._id %>/like" method="POST">
                        <button class="likeButton" type="submit" id="addLike"><i class="far fa-heart mr-1"></i><%= photo.likes %></button>
                        <h4 class="card-text"><%= photo.name %></h4>
                    </form>
                <% } %>
            </div>
        <% }) %>
      </div>
    </div>

    <div class="row justify-content-center" id="oldest gallery" style="display:none">
      <div class="card-columns animated animatedFadeInUp fadeInUp">
        <% Array.from(photos).sort(function(a, b) {return Date(a.postAt) - Date(b.postAt); }).forEach(function(photo){ %>
            <div class="card text-white" style="border-radius:5px">
                <a href="/photo/<%= photo._id %>"><img class="card-img-top" src="<%= photo.image %>" style="border-top-left-radius:5px; border-top-right-radius:5px"></a>
                <% if(currentUser && photo.favorite.some((user)=>user.equals(currentUser._id))){ %>
                    <form class="likeform form-inline" action="/photo/<%= photo._id %>/unlike?_method=PUT" method="POST">
                        <button class="likeButton" type="submit" id="removeLike"><i class="fas fa-heart mr-1"></i><%= photo.likes %></button>
                        <h4 class="card-text"><%= photo.name %></h4>
                    </form>
                <% }else{ %>
                    <form class="likeform form-inline" action="/photo/<%= photo._id %>/like" method="POST">
                        <button class="likeButton" type="submit" id="addLike"><i class="far fa-heart mr-1"></i><%= photo.likes %></button>
                        <h4 class="card-text"><%= photo.name %></h4>
                    </form>
                <% } %>
            </div>
        <% }) %>
      </div>
    </div>

    <div class="row justify-content-center" id="popular gallery" style="display:block">
      <div class="card-columns animated animatedFadeInUp fadeInUp">
        <% Array.from(photos).sort(function(a, b) {return a.likes - b.likes; }).reverse().forEach(function(photo){ %>
          <div class="card text-white" style="border-radius:5px">
            <a href="/photo/<%= photo._id %>"><img class="card-img-top" src="<%= photo.image %>" style="border-top-left-radius:5px; border-top-right-radius:5px"></a>
            <% if(currentUser && photo.favorite.some((user)=>user.equals(currentUser._id))){ %>
              <form class="likeform form-inline" action="/photo/<%= photo._id %>/unlike?_method=PUT" method="POST">
                  <button class="likeButton" type="submit" id="removeLike"><i class="fas fa-heart mr-1"></i><%= photo.likes %></button>
                  <h4 class="card-text"><%= photo.name %></h4>
              </form>
            <% }else{ %>
              <form class="likeform form-inline" action="/photo/<%= photo._id %>/like" method="POST">
                  <button class="likeButton" type="submit" id="addLike"><i class="far fa-heart mr-1"></i><%= photo.likes %></button>
                  <h4 class="card-text"><%= photo.name %></h4>
              </form>
            <% } %>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="row justify-content-center" id="search gallery" style="display:none">
      <div class="card-columns animated animatedFadeInUp fadeInUp" id="search-gallery-parent">
        <% Array.from(photos).forEach(function(photo) { %>
          <div class="card text-white" style="border-radius:5px" labels='<%= photo.labels.join(" ")%>' title='<%= photo.name %>' user='<%= photo.author.username %>'>
            <a href="/photo/<%= photo._id %>"><img class="card-img-top" src="<%= photo.image %>" style="border-top-left-radius:5px; border-top-right-radius:5px"></a>
            <% if(currentUser && photo.favorite.some((user)=>user.equals(currentUser._id))){ %>
              <form class="likeform form-inline" action="/photo/<%= photo._id %>/unlike?_method=PUT" method="POST">
                  <button class="likeButton" type="submit" id="removeLike"><i class="fas fa-heart mr-1"></i><%= photo.likes %></button>
                  <h4 class="card-text"><%= photo.name %></h4>
              </form>
            <% }else{ %>
              <form class="likeform form-inline" action="/photo/<%= photo._id %>/like" method="POST">
                  <button class="likeButton" type="submit" id="addLike"><i class="far fa-heart mr-1"></i><%= photo.likes %></button>
                  <h4 class="card-text"><%= photo.name %></h4>
              </form>
            <% } %>
          </div>
        <% }) %>
      </div>
    </div>

  </div>
</main>
<% include ../partials/footerScript %>
<% include ../partials/footer %>
