<% include ../partials/header %>
<div class="container show-photo">
  <a id="back-button" href="/photo"><i class="fas fa-angle-left"></i> back</a>
  <div class="show-photo">
    <div id="photo-block">
      <img id="show-photo" src="<%= photo.image %>">
      <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>
        <div class="form-row ml-4 mt-3">
          <form id="form-inline" action="/photo/<%= photo._id %>/edit" menthod="GET">
            <button class="btn btn-primary" id="edit-button"><i class="fas fa-pen"></i>  Edit</button>
          </form>
          <form class="form-inline" id="delete-form" action="/photo/<%= photo._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger" id="delete-button"><i class="fas fa-trash-alt"></i>  Delete</button>
          </form>
        </div>
      <% } %>
    </div>
    <div id="show-photo-discussion">
      <h4 id="show-photo-title"><%= photo.name %></h4>
      <p><em>Submitted By <%= photo.author.username %></em></p>
      <p>Created on <%= moment(photo.postAt).format('LL') %></p>
      <p id="show-photo-description"><%= photo.description %></p>

      <hr>

      <form class="form-group" action="/photo/<%= photo._id %>/comment" method="POST" id="post-comment">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" rows="6" type="text" name="comment[text]" placeholder="leave a comment..." id="input-comment"></textarea>
            <button class="btn btn-primary mt-3" type="">Submit</button>
      </form>

      <hr>

      <% photo.comments.forEach(function(comment){ %>
        <a id="comment-username" href="/profile/<%= comment.author.username %>"><%= comment.author.username %></a>
        <p id="comment-text"><%= comment.text %></p>
        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="form-row">
              <form class="form-inline" action="/photo/<%= photo._id %>/comment/<%= comment._id %>/edit" method="GET">
                  <input id="edit-comment" class="btn px-3" type="submit" value="Edit">
              </form>
              <form class="form-inline" action="/photo/<%= photo._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                  <input id="delete-comment" class="btn px-2" type="submit" value="Delete">
              </form>
            </div>
            
        <% } %>
      <% })%>



<% include ../partials/footerScript%>
<% include ../partials/footer %>
