<% include ../partials/header %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:18px;width:18px;padding:0}
</style>
<div class="container">
  <div class="row">
    <div class="col-6 col-lg-7 shadow rounded-10 no-padding" style="margin-bottom:20px">
      <div id="photoImage">
        <script>
          var photos=["<%= photo.image %>"];
          var childrenlist="<%= children %>";
          console.log(childrenlist);
          childrenlist=childrenlist.split(',');
          console.log(childrenlist);
          if(childrenlist[0]!=""){
            photos=photos.concat(childrenlist);
          }

          var previewHTML="<div class='preview'>";
          var newHTML="";
          for(i=0;i<photos.length;i++){
              newHTML+="<img class='mySlides card-img-top' src="+photos[i]+" style='border-top-left-radius:10px; border-top-right-radius:10px'>";
              previewHTML+="<div><img src="+photos[i]+"></div>"
          }
          if (photos.length > 1) {
            newHTML+='<div class="w3-center w3-container w3-section w3-large w3-text-black" style="width:100%">';
            newHTML+='<div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div><div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>'
            for(i=0;i<photos.length;i++){
                newHTML+='<span class="demo photo-index" onclick="currentDiv('+(i+1)+')"></span>';
            }
          }
          newHTML+='</div>';
          previewHTML+='</div>'
          document.getElementById("photoImage").innerHTML+=newHTML;
          // document.getElementById("photoImage").innerHTML += previewHTML

          var slideIndex = 1;
          showDivs(slideIndex);

          function plusDivs(n) {
            showDivs(slideIndex += n);
          }
          function currentDiv(n) {
            showDivs(slideIndex = n);
          }
          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            if (x.length > 0) {
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
            }
            if (dots.length > 0) {
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" photo-index-selected", "");
              }
            }
            x[slideIndex-1].style.display = "block";
            if (dots.length > 0) {
              dots[slideIndex-1].className += " photo-index-selected";
            }
          }
        </script>

        <!-- <script type="javascript">
          $(document).ready(function(){
            $('.preview').slick({
              dots: true,
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 3
            });
          });
        </script> -->

        <div class="card-body" style="min-height: 35vh">
          <div class="card-title title main">
            <%= photo.name %>
            <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>
              <div class="form-row photo-form">
                <form class="form-group" action="/photo/<%= photo._id %>/edit" method="GET">
                  <button class="button-link" id="edit-photo">Edit</button>
                </form>
                <form class="form-group" id="delete-form" action="/photo/<%= photo._id %>?_method=DELETE" method="POST">
                  <button class="button-link" id="delete-photo">Delete</button>
                </form>
              </div>
            <% } %>
          </div>
          <div class="title sub">By <a href="/profile/<%= photo.author.username %>" id="comment-username"><%= photo.author.username %></a></div>
          <div class="title sub mb-3">Created on <%= moment(photo.postAt).format('LL') %></div>
          <div class="photoDescription"><%= photo.description %></div>
          <!-- <div class="title sub"><%= photo.labels %></div> -->
          <div>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this photo on #drawer" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>


      </div>
    </div>
    <div class="col-6 col-lg-5" style="padding-left: 30px">

      </script>
      <h3 class="title subdued">comments</h3>

      <div class="CommentDetail">
        <% photo.comments.forEach(function(comment){ %>
          <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="user-comment-header">
              <a href="/profile/<%= comment.author.username %>" id="comment-username"><%= comment.author.username %></a>
              <div class="user-alter-comment button-link">
                <form action="/photo/<%= photo._id %>/comment/<%= comment._id %>/edit" method="GET">
                  <button class="button-link edit-comment">Edit</button>
                </form>
                <form action="/photo/<%= photo._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="button-link delete-comment">Delete</button>
                </form>
              </div>
            </div>
            <div class="comment-date"><%= moment(comment.postAt).format('LL') %></div>
          <% } else { %>
            <a href="/profile/<%= comment.author.username %>" id="comment-username"><%= comment.author.username %></a>
            <div class="comment-date"><%= moment(comment.postAt).format('LL') %></div>
          <% } %>
          <p class="comment-text"><%= comment.text %></p>
          <hr>
        <% })%>
        <% if (photo.comments.length == 0 && !currentUser) { %>
          <div style="font-family: Helvetica; color: #dbe2ef;">No comments yet...</div>
        <% } %>
      </div>

      <div>
        <% if (currentUser) { %>
          <a href="/profile/<%= currentUser.username %>" id="comment-username"><%= currentUser.username %></a>
          <div class="comment-date"><%= moment(new Date()).format('LL') %></div>
          <form class="form-group" action="/photo/<%= photo._id %>/comment" method="POST" id="post-comment">
                <textarea class="form-control commentInput comment-text" id="comment" rows="6" type="text" name="comment[text]" placeholder="leave a comment..." id="input-comment"></textarea>
                <button class="sortby button" type="">Submit</button>
          </form>
        <% } %>
      </div>

    </div>
  </div>
</div>

<% include ../partials/footerScript%>
<% include ../partials/footer %>
