<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-6 col-lg-7">
      <div class="card photoBackground animated animatedFadeInUp fadeInUp">
        <img class="photoImage card-img-top" src="<%= photo.image %>">

          <div class="card-body">
            <div class="card-title title main">
              <%= photo.name %>
              <% if(currentUser && photo.author.id.equals(currentUser._id)){ %>
                <div class="form-row photo-form">
                  <form class="form-group" action="/photo/<%= photo._id %>/edit" menthod="GET">
                    <button class="button-link" id="edit-photo">Edit</button>
                  </form>
                  <form class="form-group" id="delete-form" action="/photo/<%= photo._id %>?_method=DELETE" method="POST">
                    <button class="button-link" id="delete-photo">Delete</button>
                  </form>
                </div>
              <% } %>
            </div>
            <div class="title sub">By <a href="/profile/<%= photo.author.username %>" id="comment-username"><%= photo.author.username %></a></div>
            <div class="title sub mb-3">Created on <%= moment(photo.postAt).format('LL') %></div>
            <div class="photoDescription"><%= photo.description %></div>
          </div>


      </div>
    </div>
    <div class="col-6 col-lg-5">

      <h3 class="title subdued">comments</h3>

      <div class="CommentDetail">
        <% photo.comments.forEach(function(comment){ %>
          <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="user-comment-header">
              <a href="/profile/<%= comment.author.username %>" id="comment-username"><%= comment.author.username %></a>
              <div class="user-alter-comment button-link">

                <form action="/photo/<%= photo._id %>/comment/<%= comment._id %>/edit" method="GET">
                  <button class="button-link edit-comment">Edit</button>
                </form>
                <form action="/photo/<%= photo._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="button-link delete-comment">Delete</button>
                </form>

              </div>
            </div>
            <div class="comment-date"><%= moment(comment.postAt).format('LL') %></div>
          <% } else { %>
            <a href="/profile/<%= comment.author.username %>" id="comment-username"><%= comment.author.username %></a>
            <div class="comment-date"><%= moment(comment.postAt).format('LL') %></div>
          <% } %>
          <p class="comment-text"><%= comment.text %></p>
          <hr>
        <% })%>
      </div>

      <div>
        <% if (currentUser) { %>
          <a href="/profile/<%= currentUser.username %>" id="comment-username"><%= currentUser.username %></a>
          <div class="comment-date"><%= moment(new Date()).format('LL') %></div>
          <form class="form-group" action="/photo/<%= photo._id %>/comment" method="POST" id="post-comment">
                <textarea class="form-control commentInput comment-text" id="comment" rows="6" type="text" name="comment[text]" placeholder="leave a comment..." id="input-comment"></textarea>
                <button class="btn btn-primary mt-3" type="">Submit</button>
          </form>
        <% } %>
      </div>

    </div>
  </div>
</div>

<% include ../partials/footerScript%>
<% include ../partials/footer %>
